*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(29, 29, 96);
}
.quiz-app{
    background-color: white;
    width: 500px;
    margin: 100px auto 0px;
    border-radius: 10px;
    padding: 30px;
}
.quiz-app h2{
    color:rgb(29, 29, 96) ;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
}
.quiz h3{
     color:rgb(29, 29, 96) ;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}   
.btn{
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: transparent;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    color: #333;
    transition: all 0.3s;
    cursor: pointer;

}
.btn:hover:not([disabled]){
    background-color: #222;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    margin: 30px auto 0px;
    display: block;
    background-color:rgb(29, 29, 96) ;
    color: white;
    border: none;
    outline: none;
    padding: 12px 60px;
    font-size: 15px;
    border-radius: 10px;
}
.correct{
    background-color: rgb(154,224,154);
}
.uncorrect{
    background-color: rgb(231,124,124);
}
